a[href^="tel:"] {
text-decoration: none
}
a[href^="mailto:"] {
text-decoration: none
}
#content {
    margin:1em auto;
    margin-left: 8em;
    max-width:40em;
    padding:0 .62em;
    font:1em/1.35em sans-serif;
}

#twitter {
    margin:1em auto;
    margin-left: 10em;
    font:1em/1.35em sans-serif;
    float: right;
}

h1,h2,h3 {
    line-height:1.2em;
}
h2 {
    margin-top: 0.5em;
}

.block {padding-top: 1.0em;}

.block:nth-child(even) {background: #F5F5F5; border-top: 1px solid}
.block:nth-child(odd) {background: #FFFFFF;  border-top: 1px solid}

@media print{
    body{
        max-width:none
    }
}

p, table {
    margin-left: 1em;
}

td {padding: 10px;}

a {font-weight: 500; text-decoration: underline;}

a:visited {
    color: #065;
}

a:link {
    color: #047;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #048;
}

h1, h2, h3 {
    font-family: "garamond", serif;
    color: #033;
}

h3 {
    color: #022;
}

.me {
    text-decoration: underline;
}

.titel {
    letter-spacing: 0.08em;
    background:#ffd;
    quotes: "«" "»" ;
}
.titel:before {
    content: open-quote;
}
.titel:after {
    content: close-quote;
}

#logo {}

#logo img{
 display: block;
 margin: auto;
}

.margin, .margin-top {
     height:25px; width:25px;
     float: left;
     margin-left:-35px;
     margin-top: 2em;
}

.margin-top {
    margin-top: 0.2em;
}

.symbol {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-45%);
}

nav#navbar {
    position:fixed;
/*    top:45%;
    right:20px; */
    margin: 0px;
    padding: 0px;
    left: -5px;
    z-index:9999;
}

/* I added #main to the selector of the active class */
nav#navbar li {list-style-type: none;}
nav#navbar a:hover, nav#navbar li.active a {
        color: #FFFFFF; background: #033;
}
nav#navbar a {
    text-decoration: none; margin-bottom:10px;
    color: #FFFFFF; background: #788;
    display:block; height:45px; width:45px;
    overflow:hidden; }

iframe
{
    border: 0;
}
